$color-body-background: #282828;
$color-header-background: #121a3e;
$color-main-section: white;

$indent-small: 5px;
$indent-medium: 10px;
$indent-large: 15px;
$indent-x-large: 20px;
$indent-xm-large: 35px;
$indent-xx-large: 55px;

$application-max-width: 850px;

$desktop-width: 800px;

@function pxToRem($px) {
  $remValue: ($px / 16) + rem;
  @return $remValue;
}



.section-properties {
  max-width: $application-max-width;
  //margin-left: auto;
  //margin-right: auto;
  padding: $indent-small;
}

@mixin onDesktop {
  @media (min-width: $desktop-width) { @content; }
}

.full-height-if-width-less-than-desktop {
  flex: 1;
  @include onDesktop{
    flex: initial;
  }
}