@import '../../assets/scss/mixins';

.exchange {
  display: flex;
  flex-direction: column;
  row-gap: $indent-medium;
  max-width: fit-content;
  margin: auto auto;

  &__container {
    @extend .section-properties;
    @extend .full-height-if-width-less-than-desktop;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: $color-main-section;
  }
}

.currency-list {
  padding: 15px;
  height: 300px;
  list-style-type: none;
  overflow: auto;

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: $indent-small;
  }

  &__bookmark {
    height: 25px;
    width: 25px;
  }

  &__currency {
    margin-left: $indent-small;
    flex: 1;
    text-align: left;
  }
}