@import '../../assets/scss/mixins';

.converter {
  display: flex;
  flex-direction: column;
  row-gap: $indent-medium;
  max-width: fit-content;
  margin: $indent-xx-large auto;

  &__container {
    @extend .section-properties;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: $color-main-section;
  }

}
